.about {
    display: flex;
    align-items: center;
    margin: 50px;

}

.about img {
    width: 40%;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
}

.about-title-first {
    color: #08085C;
}

.about-title-second {
    color: #cc4969;
}



@media only screen and (max-width: 800px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        justify-content: center;
        text-align: center;

    }

    .about img {
        width: 100%;
        padding: 0;

    }
}