.header nav a {
    text-decoration: none;
    margin: 10px;
    border-bottom: 2px solid #d87a91;
    color: #08085C;
    font-weight: 500;
    padding-bottom: 5px;

}



.header {
    display: flex;

    justify-content: center;
    margin-top: 50px;



}